<div class="mx-5" data-controller="uptade-list">
  <div class ="form">
    <h3 class="my-9" class="my-5">Find a <%= mentor ? "mentor" : "profile" %></h3>
    <%= form_with  url: users_path, method: :get, class: "d-flex row search-form me-0", data:{ uptade_list_target:"form",
        action: "change->uptade-list#send"} do %>
      <%= hidden_field_tag :page, action_name %>
      <div class="col-5 pe-0">
        <%= select_tag :choices, options_for_select(skills, params[:choices]), multiple: true, data: {controller: "autocomplete"} %>
      </div>

      <div class="col-3 pe-0">
        <%= select_tag :languages, options_for_select(User::LANGUAGES, params[:languages]), prompt: "Languages", class: "form-select"  %>
      </div>

      <div class="col-3">
        <%= select_tag :countries , options_for_select(User::COUNTRIES), prompt: "Countries",class: "form-select" %>
      </div>
      <%= button_tag class: "btn-btn-primary col-1"  do  %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
  </div>
  <div data-uptade-list-target="users">
    <%= render "users_list", users:users %>
  </div>
</div>
