<div class="container m-5">

<h1 class="my-5">Find your mentor</h1>
<%= form_with url: users_path, method: :get, class: "d-flex" do %>
   <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div class="user-cards-container">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class="user-card-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Rosaparks.jpg" alt="">
      </div>
      <div class="user-card-content">
        <div class="user-card-title">
          <p><%= user.first_name %></p>
          <p><%= user.last_name%></p>
          <br>
          <p><%= user.title %></p>
          <%= link_to "See profile", user_path(user)%>
        </div>
      </div>
    </div>
    <% end %>
</div>
</div>
