<<<<<<< HEAD
<%= render "user_index", mentor: false, skills: @competences, users: @users %>
=======

<div class="mx-5" data-controller="uptade-list">
<div class ="form">
  <h3 class="my-9" class="my-5">Find a profile</h3>
  <p data-uptade-list-target="counter"><%= @users.count %> <%= "profile".pluralize(@users.count) %></p>
  <%= form_with  url: users_path, method: :get, class: "d-flex row search-form me-0", data:{ uptade_list_target:"form",
      action: "change->uptade-list#send"} do %>
    <div class="col-5 pe-0 " >
      <%= select_tag :choices, options_for_select(@competences, params[:choices]), multiple: true, data: {controller: "autocomplete"} %>
    </div>
    <div class="col-3 pe-0">
      <%= select_tag :languages, options_for_select(User::LANGUAGES, params[:languages]), prompt: "Languages", class: "form-select"  %>
    </div>
    <div class="col-3">
      <%= select_tag :countries , options_for_select(User::COUNTRIES), prompt: "Countries",class: "form-select" %>
    </div>
    <%= button_tag class: "btn-btn-primary col-1"  do  %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
  </div>
  <div data-uptade-list-target="users">
    <%= render "users_list", users:@users %>
  </div>
</div>
>>>>>>> 34de2dc26c7ca297eef1955b035226f56254e142
