<div class="container m-5">

<h1 class="my-5">Find your mentor</h1>
<%= form_with url: users_path, method: :get, class: "d-flex" do %>
   <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div class="user-cards-container">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class="user-card-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Rosaparks.jpg" alt="">
      </div>
      <div class="user-card-content">
          <h3><%= user.first_name %>
          <br>
          <%= user.last_name%></h3>
          <p><%= user.title %></p>
          <p class="competence"><%= user.competence_list.first(3).join(", ") %>
          <br> & more</p>
        <div class="user-button d-flex justify-content-end">
          <%= link_to "See profile", user_path(user), class: "btn-indigo-index" %>
        </div>
      </div>
    </div>
    <% end %>
</div>
</div>
