<div class="card-container-profile">

  <div class="container-photo-title">
      <%= cl_image_tag @user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "user-photo" %>
      <div class="name-city">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.city %> - <%= @user.country %></p>

      <p><i class="fa-solid fa-lightbulb"></i> She was part of the batch #<strong><%= @user.batch_number %></strong> in <%= @user.graduation_year %></p>

      </div>
      <div class="cta">
      <% if @chatroom %>
        <div class="offcanvas offcanvas-end modal-chatroom" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Chat with <%= @user.first_name %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <%= render "chatrooms/chatroom", chatroom: @chatroom %>
          </div>
        </div>
        <%= button_tag class: "btn-red-profile", data: {bs_toggle: "offcanvas", bs_target: "#offcanvasRight"} do %>
          <i class="fa-regular fa-comments"></i> Chat with <%= @user.first_name %>
        <% end %>
      <% else %>
        <%= link_to user_chatrooms_path(@user), data: { turbo_method: :post }, class: "btn-red-profile" do %>
          <i class="fa-regular fa-comments"></i> Chat with <%= @user.first_name %>
        <% end %>
      <% end %>

      <% if @user.favorited_by?(current_user) %>
        <p><i class="fa-solid card-graduation-unfavorited fa-graduation-cap"></i><%= @user.first_name %> is your mentor</p>
      <% else %>
        <%= link_to user_favorite_path(@user) do %>
         <i class="fa-solid card-graduation fa-graduation-cap"></i><%= link_to 'Add as a mentor', user_favorite_path(@user), class: "add-mentor", data: { turbo_method: :post } %>
        <br>
          <% end %>
      <% end %>
     </div>
    </div>

  <div class="card-profile">
    <div class="card-profile-infos">
      <h3><%= @user.first_name %> is a <%= @user.title %></h3>
      <ul class="tags">
        <% @user.competence_list.each do |skill| %>
        <li class="tag-list"><%= skill %></li>
          <% end %>
      </ul>
      <p><%= @user.description %></p>
    </div>
    </div>
  </div>

<div class="card-profile">
    <h3><%= @user.first_name %>'s offers:</h3>
      <% if @user_projects.exists? %>
        <%= render "projects/show", chatroom: @chatroom %>
      <% else %>
        <%= "No offers yet..."  %>
      <% end %>
 <%= render "shared/mentors" if @user.mentor == true %>
  </ul>
  </div>
</div>
