<div class="sidebar">
 <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "user-side-bar-image" %>

  <h3><%= current_user.first_name  %> <%= current_user.last_name  %></h3>
  <div class="button-center">
    <button class="btn-indigo-sidebar align-center">View my profile</button>
  </div>
  <ul>
    <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My dashboard", "#" %></li>
    <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "Find a mentor", users_path %></li>
    <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My inbox", "#" %></li>
    <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My projects", "#" %></li>
  </ul>
</div>
