<div class="sidebar">
 <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "user-side-bar-image" %>

  <h3><%= current_user.first_name  %> <%= current_user.last_name  %></h3>
  <div class="button-center">
    <button class="btn-indigo-sidebar align-center">View my profile</button>
  <div class="my-mentors">
    <h3>My mentors:</h3>
    <% @favorited.each do |f| %>
<li> <%= cl_image_tag f.photo.key, width: 20, height: 20, crop: :thumb, gravity: :face, class: "rounded" %> <%= link_to f.first_name, user_path(f) %> </li>
      <% end %>
  </div>

  <div class="my-competences">
  <h3>My competences:</h3>
  <% current_user.competence_list.each do |c| %>
  <%= c %>
  <% end %>
  </div>
  </div>
  <ul>
    <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My dashboard", "#" %></li>
    <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "Find a mentor", users_path %></li>
    <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My inbox", "#" %></li>
    <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My projects", "#" %></li>
  </ul>
</div>
