    <div class="container-photo-title-dashboard">
        <div class="name-city-dash">
          <h2 class="welcome">Welcome to your dashboard, <span class="name"><%= @user.first_name %></span>!</h2>
          <p><i class="fa-solid fa-lightbulb"></i> Batch #<strong><%= @user.batch_number %></strong> in <%= @user.graduation_year %></p>
            <% @user.competence_list.each do |skill| %>
              <li class="tag-list"><%= skill %></li>
                <% end %>
          </div>
        <div class="cta">
        </div>
     </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">My <%= @user.mentor ? "mentorees" : "mentors" %> (<%= @favorited.count %>)
</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My offers (<%= @user_projects.count %>)</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message" type="button" role="tab" aria-controls="message" aria-selected="false">My messages(<%= @user_real_chats.count %>)</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="d-block m-3">


   <% @favorited.each do |m| %>
    <%= link_to user_path(m.id) do %>
      <div class="card-dashboard">
         <%= cl_image_tag m.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
          <div class="card-dashboard-infos">
            <%= link_to "#{m.first_name} #{m.last_name}", user_path(m.id), class: "mentor-name-card-dash" %>
              <p><%= m.title  %></p>
              <p><i class="fa-solid fa-lightbulb"></i> Batch #<strong><%= m.batch_number %></strong> in <%= m.graduation_year %></p>
          </div>
        <div class="close-icon">
            <%= link_to user_unfavorite_path(m), data: { turbo_method: :patch } do %>
            <i class="fa-solid fa-xmark"></i>
              <% end %>
        </div>
      </div>
       <% end %>
     <% end %>

  </div>
  </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="project-nav d-block m-3">
    <% if @user_projects.present? %>
      <div class="card-dashboard-project">
      <ol>
        <% @user_projects.each do |p| %>
          <h5><li><i class="fa-solid fa-computer"></i> <%= p.title %></li></h5>
          <p><%= p.description %></p>
          <% end %>
          <% else %>
          <p class="no-offer"><i class="fa-solid fa-computer"></i> No offer yet...</p>
      <% end %>
      </ol>
      </div>
    </div>
    </div>
    <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
      <div class="d-block m-3 card-message">
              <div class="card-dashboard-messages d-flex justify-content-left mx-10">
                <div class="logo">
                <i class="fa-regular logo-message fa-comments"></i>
                </div>

        <div class= "list-chat">
                  <% @user_real_chats.each do |c| %>
                    <div class="offcanvas offcanvas-end modal-chatroom" tabindex="-1" id="offcanvasRight<%=c.id%>" aria-labelledby="offcanvasRightLabel">
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">Chat with <%= c.user_b.first_name %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                        <%= render "chatrooms/chatroom", chatroom: c %>
                      </div>
                    </div>
                    <button class="btn btn-red-profile m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight<%=c.id%>" aria-controls="offcanvasRight"><%= c.user_b.first_name %> <%= c.user_b.last_name %></button>
                  <% end %>
                </div>
              </div>
         </div>
      </div>
    </div>
</div>
