<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="banner-content text-center">

    <h1>Wagon Women Worldwide</h1>
    <h3>Connecting women</h3>
  </div>
</div>

<div class="container-fluid p-3">
  <div class="container my-4">
    <h2 class="text-center">Advantages of our mentoring program <i class="fa-solid card-graduation fa-graduation-cap"></i>
    </h2>
    <div class="d-flex justify-content-between">
      <div class="list">
        <ul>
          <br>
          <li><i class="fa-solid fa-arrow-right fa-beat"></i>  Join a support community of the <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>'s women!</li>
          <li><i class="fa-solid fa-arrow-right fa-beat"></i>  As a junior, benefit from other women experiences!</li>
          <li><i class="fa-solid fa-arrow-right fa-beat"></i>  As a senior, share your experience or look for a collaborator!</li>
          <li><i class="fa-solid fa-arrow-right fa-beat"></i>  Exchange and chat!</li>
        </ul>
      </div>
      <div class="testimony-card">
        <div class="testimony-card-image">
          <img src="https://kitt.lewagon.com/placeholder/users/lesly75" alt="">
        </div>
        <div class="testimony-card-content">
          <div>
            <h3>Lesly Urie,<p>Junior web developer</p></h3>
          </div>
          <p class="testimony-text"><i class="fa-solid fa-quote-left fa-beat"></i> Thanks to Wagon Women Worldwide, I contacted a mentor looking for a code review. Through her I managed to get a job at Doctolib! <i class="fa-solid fa-quote-right fa-beat"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-lightred p-3">
  <div class="container my-4">
    <h2 class="text-center">Join the program!</h2>
    <div class="d-flex justify-content-between">
      <%= link_to mentors_path, class: 'home-card-link' do %>
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("card_home2.jpg") %>)">
          <div class="home-card-btn">
            <span class="btn-card-home">Need a mentor?</span>
          </div>
        </div>
      <% end %>
      <%= link_to dashboard_path, class: 'home-card-link' do %>
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("card_home5.jpg") %>)">
          <div class="home-card-btn">
            <span class="btn-card-home">Want to be a mentor?</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
