<!DOCTYPE html>
<html>
  <head>
    <title>WagonWomenWorldwide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

<div class="container-side d-flex justify-content">
  <div class="row">

    <div class="col-6 col-sm-3 side-bar">
     <div class="user-side-bar-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Rosaparks.jpg" alt="">
     </div>
        <h3><%= current_user.first_name  %> <%= current_user.last_name  %></h3>
        <div class="button-center">
          <button class="btn-indigo-sidebar align-center">View my profile</button>
        </div>
      <ul>
        <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My dashboard", "#" %></li>
        <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "Find a mentor", users_path %></li>
        <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My inbox", "#" %></li>
        <li><i class="fa-solid fa-arrow-right"></i> <%= link_to "My projects", "#" %></li>
      </ul>
    </div>

    <div class="col-6 col-sm-9">
       <%= yield %>
    </div>
  </div>
</div>
    <%= render "shared/footer" %>
  </body>
</html>
